/**
 * Login page
 *
 * @author Roelof Roos <github@roelof.io>
 */

.login-page {
  // Backdrop for the login page
  &__hero {
    background: linear-gradient(
      141deg,
      rgba(31, 25, 26, 0),
      rgba(54, 54, 54, .6) 71%,
      rgba(70, 64, 63, .8)
    );
    background-image: url(bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  // Container for the logo
  &__logo-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  // The logo
  &__logo {
    min-height: 270px;
    max-width: 30vw;
    background: url(logo.svg) no-repeat 20% center transparent;
    background-size: contain;

    @include mobile {
      background-position: center;
    }
  }
  &__logo-text {
    @include sr-only;
  }
  &__form {
    border-radius: $radius;

    @include tablet {
      max-width: 500px;
    }
  }
}
